NET "anodes<0>" LOC = "P48";
NET "anodes<1>" LOC = "P56";
NET "anodes<2>" LOC = "P79";
NET "anodes<3>" LOC = "P85";

NET "segs<6>"   LOC = "P81";
NET "segs<5>"   LOC = "P61";
NET "segs<4>"   LOC = "P58";
NET "segs<3>"   LOC = "P67";
NET "segs<2>"   LOC = "P66";
NET "segs<1>"   LOC = "P83";
NET "segs<0>"   LOC = "P75";
NET "dp"        LOC = "P51";

NET JOY_R       LOC="P59"   | IOSTANDARD=LVTTL;                                # B11
NET JOY_L       LOC="P57"   | IOSTANDARD=LVTTL;                                # B12
NET JOY_SELECT  LOC="P47"   | IOSTANDARD=LVTTL;                                # B15

NET LED(0)      LOC="P123"  | IOSTANDARD=LVTTL;                                # C8
NET LED(1)      LOC="P124"  | IOSTANDARD=LVTTL;                                # C9
NET LED(2)      LOC="P126"  | IOSTANDARD=LVTTL;                                # C10
NET LED(3)      LOC="P127"  | IOSTANDARD=LVTTL;                                # C11
NET LED(4)      LOC="P131"  | IOSTANDARD=LVTTL;                                # C12
NET LED(5)      LOC="P132"  | IOSTANDARD=LVTTL;                                # C13
NET LED(6)      LOC="P133"  | IOSTANDARD=LVTTL;                                # C14
NET LED(7)      LOC="P134"  | IOSTANDARD=LVTTL;                                # C15

NET clk         LOC = "P94" | IOSTANDARD=LVCMOS25;
