NET "HSYNC"     LOC="P117"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "VSYNC"     LOC="P116"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Red<3>"    LOC="P121"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Red<2>"    LOC="P120"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Red<1>"    LOC="P119"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Red<0>"    LOC="P118"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Green<3>"  LOC="P78"     | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Green<2>"  LOC="P80"     | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Green<1>"  LOC="P82"     | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Green<0>"  LOC="P84"     | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Blue<3>"   LOC="P87"     | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Blue<2>"   LOC="P92"     | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Blue<1>"   LOC="P97"     | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "Blue<0>"   LOC="P99"     | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

NET JOY_D       LOC="P126"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;
NET JOY_L       LOC="P127"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;
NET JOY_R       LOC="P132"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;
NET JOY_U       LOC="P123"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;
NET JOY_G       LOC="P131"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLDOWN;

NET clk         LOC="P94"     | IOSTANDARD=LVTTL | PERIOD=31.25ns;
